include $(cdir)/shared.cfg

#######################################################
# shotgun/hic simulation
#######################################################

ASSEMBLY_VERSION=v1
ANCHOR_LABEL=v1
CCLUSTER_VERSION=_v1

# input genebank table
GENOME_ID=n3
DOWNLOAD_INPUT_TABLE=input/genome_tables/n3

# simulated genome
BASE_XCOVERAGE=4
HIC_READ_COUNT=100000

ABUNDANCE_MIN?=1
ABUNDANCE_MAX?=1

ABUNDANCE_MIN_HIC?=1
ABUNDANCE_MAX_HIC?=1
